body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
p {
    color:black;
}
.paragraf {
   margin: auto;
    width: 60%;
    border: 3px dotted #73AD21;
    padding: 5px;
}
