ul {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
body {
    background-color: azure;
}

h1 {
    color: darkred;
    margin-left: 40px;
} 
p {
    color:black;
}
.paragraf {
   margin: auto;
    width: 60%;
    border: 2px dotted #8B0000;
    padding: 5px;
}
